#root, html, body{
    height: 100vh;
}

body {
    margin: 0;
    background-color: #21325E;
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

#header{
    text-align: center;
    color: #F0F0F0;
    padding-top: 10px;
}
#ped{
    text-align: center;
    color:#F0F0F0;
}